USE [master]
GO
/****** Object:  Database [Billing_System]    Script Date: 01-03-2018 19:54:57 ******/
CREATE DATABASE [Billing_System]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Billing_System', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Billing_System.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Billing_System_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Billing_System_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Billing_System].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Billing_System]
GO
USE [Billing_System]
GO
/****** Object:  Table [dbo].[additem]    Script Date: 01-03-2018 19:54:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[additem](
	[itemid] [int] IDENTITY(1,1) NOT NULL,
	[itemname] [nvarchar](max) NOT NULL,
	[itemprice] [money] NOT NULL,
	[itemcode] [nvarchar](50) NOT NULL,
	[itemstatus] [bit] NOT NULL,
 CONSTRAINT [PK_additem] PRIMARY KEY CLUSTERED 
(
	[itemid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[buycustomerdetail]    Script Date: 01-03-2018 19:54:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[buycustomerdetail](
	[customerid] [int] IDENTITY(1,1) NOT NULL,
	[customername] [varchar](max) NOT NULL,
	[customermobileno] [numeric](18, 0) NOT NULL,
	[customeradharno] [numeric](18, 0) NOT NULL,
	[customeraddress] [nchar](10) NOT NULL,
	[customerstatus] [bit] NOT NULL,
 CONSTRAINT [PK_buycustomerdetail] PRIMARY KEY CLUSTERED 
(
	[customerid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[buyitemdetail]    Script Date: 01-03-2018 19:54:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[buyitemdetail](
	[itemid] [int] IDENTITY(1,1) NOT NULL,
	[itemquantity] [int] NOT NULL,
	[itemtotal] [int] NOT NULL,
	[customerid] [int] NOT NULL,
	[itemdiscount] [int] NOT NULL,
	[itempaidamount] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoiceitem]    Script Date: 01-03-2018 19:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoiceitem](
	[invoiceid] [int] NOT NULL,
	[itemid] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_invoiceitem] PRIMARY KEY CLUSTERED 
(
	[itemid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_detail]    Script Date: 01-03-2018 19:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_detail](
	[userid] [nchar](10) NOT NULL,
	[password] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[additem] ADD  DEFAULT ((0)) FOR [itemprice]
GO
ALTER TABLE [dbo].[additem] ADD  DEFAULT ((1)) FOR [itemstatus]
GO
ALTER TABLE [dbo].[buycustomerdetail] ADD  DEFAULT ((0)) FOR [customeradharno]
GO
ALTER TABLE [dbo].[buycustomerdetail] ADD  DEFAULT (NULL) FOR [customeraddress]
GO
ALTER TABLE [dbo].[buycustomerdetail] ADD  DEFAULT ((0)) FOR [customerstatus]
GO
USE [master]
GO
